.fun-facts h1
{
    text-align: left;
}

.fun-facts
{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: 300px;
}

.book-section
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 260px;
}

.book-info
{
    display: grid;
    grid-template-columns: 200px 300px;
}