.fun-facts h1
{
    text-align: left;
    color: blueviolet;
}

.fun-facts h1 a
{
    text-decoration: none;
    color: darkmagenta;
}

.fun-facts
{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: 300px;
}

.book-section
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 260px;
}

.book-info
{
    display: grid;
    grid-template-columns: 300px 200px;
}