.about-me-container
{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 250px;
}

.my-info
{
    display: grid;
    grid-column: 1 / span 1;
    grid-template-rows: 100px;
}

.image-and-quote-container
{
    display: grid;
    grid-column: 2 / span 1;
    grid-template-rows: 1 / span 1;
}

.progess
{
    display: grid;
    grid-column: 1 / span 1;
    grid-template-rows: 50px;
    grid-template-columns: 150px 200px 40px;
}

blockquote
{
    display: none;
}

.myself
{
    width: 250px;
    height: 250px;
    transition: width 2s, height 4s;
}

.myself:hover + blockquote
{
    display: inherit;
}

.percentage
{
    display: none;
}

#degree-progress:hover + .percentage
{
    display: inherit;
}