.about-me-container
{
    display: grid;
    background-color: rgb(209, 219, 227);
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 250px;
}

.my-info
{
    display: grid;
    grid-column: 1 / span 1;
    grid-template-rows: 100px;
}

.image-and-quote-container
{
    display: grid;
    grid-column: 2 / span 1;
    grid-template-rows: 1 / span 1;
}

.progess
{
    display: grid;
    grid-column: 1 / span 1;
    grid-template-rows: 50px;
    grid-template-columns: repeat(2, 50%);
}