@import "navbar.css";
@import "index.css";
@import "fun_facts.css";
@import "resume.css";

*
{
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
}

.footer
{
    display: grid;
    background-color: rgb(149, 204, 243);
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 50px;
}

a:link 
{
    color: darkmagenta;
}

a:visited
{
    color: rgb(252, 18, 217);
}

a:hover
{
    color: yellow;
}

.background-color
{
    background-color: rgb(209, 219, 227);
}
