.navbar-container
{
    display: grid;
    background-color: rgb(149, 204, 243);
    grid-template-columns: 50px repeat(3, 150px);
    grid-template-rows: 50px;
}

.navbar-image
{
    height: 50px;
    width: 50px;
}

.navbar-container a
{
    font-size: 35px;
    text-align: center;
}